






.formdiv {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
    display: flex;
    flex-direction: column;
}

.input {
    margin-bottom: 20px;
}

.label {
    margin-bottom: 5px;
    font-weight: bold;
}

.inputbox {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d32f2f;
}

p {
    text-align: center;
    margin-top: 20px;
}

.formdiv a {
    text-decoration: none;
    color: #f44336;
}

a:hover {
    text-decoration: underline;
}